* {
    font-family: 'Raleway', sans-serif;
}

#gallery-body {
  background:rgb(255, 255, 255) !important;
  background: linear-gradient(180deg, rgba(200, 200, 200, 0.5) 0%, rgba(245, 0, 37, 0.75) 50%, rgba(255,255,255,1) 100%) !important;
}

#main-body {
  background:rgb(0,0,0) !important;
  background: linear-gradient(180deg, rgb(0, 0, 0, .97) 0%, rgba(230, 230, 0, 0.425) 50%, rgba(255,255,255,1) 100%) !important;
}


.display-1 {
  color: #eee;
}
